body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DBDBDB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar-content{
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand:hover{
  cursor: pointer;
}

.brand-icon{
  font-size: 22px;
}

.nav-search{
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  text-align: center;
  width: 215px;
  height: 28px;
  color: #979797;
}

.nav-search:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

.navbar-divider-vertical{
  width: 1px;
  height: 22px;
  background-color: #DBDBDB;
  display: inline-block;
  margin: 0 10px;
}

.brand-name{
  width: 103px;
  height: 29px;
}

.nav-icons{
  font-size: 22px;
}

.nav-icons{
  cursor: pointer;
}

.m25{
  margin: 0 25px;
}

.mr25{
  margin-right: 25px;;
}


.container{
  margin-top: 34px;
  display: flex;
  justify-content: center;
}

.main{
  margin-right: 29px;
}

.stories{
  width: 614px;
  height: 118px;
  margin-top: 36px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.stories-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  cursor: pointer;
}

.stories-user-name{
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
}

section.stories div.stories-user-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  background-image: url('./assets/img/stories_background-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}

section.stories div.stories-user-profile img{
  border-radius: 50%;
}

.stories-user-img{
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.chevron-circle{
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.card-post{
  width: 614px;
  height: 749px;
  margin-bottom: 60px;
}

.video{
  height: unset;
  width: 100%;
}

.card-post-header{
  height: 60px;
  background: #FFFFFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;   
  border-top: 1px solid #DBDBDB;    
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-post-header .card-post-header-row{
  width: 578px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-post-profile{
  display: flex;
  align-items: center;
}

.card-post-img img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card-post-img img:hover{
  cursor: pointer;
}

.card-post-header-row .card-post-config{
  font-size: 16px;
}

.card-post-header-row .card-post-config:hover{
  cursor: pointer;
}

.card-post-name{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: #262626;
  margin-left: 15px;
}

.card-post-name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.card-post-content{
  width: 100%;
}

.card-post-footer{
  background-color: #FFFFFF;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;   
  border-bottom: 1px solid #DBDBDB;    
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  border-top: 1px solid #EFEFEF;
  margin-top: -3px;
}

.footer-content-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content-icons .footer-row-icons{
  width: 578px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.footer-icons-group, 
.footer-bookmark-icon{
  font-size: 20px;
  cursor: pointer;
}

.icon-hover:hover{
  color: gray;
}

.m18{
  margin: 0 10px;
}

.footer-content-coments{
  display: flex;
  justify-content: center;
}

.footer-content-coments .footer-like-row{
  width: 578px;
  height: 30px;
  padding-bottom: 5px;
}

.footer-like-row{
  display: flex;
  align-items: center;
}

.footer-like-row p{
  margin-left: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.footer-like-row p .bold{
  font-weight: bold;
  cursor: pointer;
}

.footer-like-row p .bold.underline:hover {
  text-decoration: underline;
}

.footer-like-profile .footer-like-img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-add-comment{
  width: 100%;
}

.footer-comment-profile{
  display: flex;
  justify-content: center;
}

.comment-content{
  width: 578px;
  margin-bottom: 18px;
}

.footer-comment-name{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: #262626;
}

.footer-comment-name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.footer-comment{
  font-size: 14px; 
}

.footer-comments-section{
  margin-top: 6px;
}

.footer-comment-section{
  display: flex;
  justify-content: space-between;
}

.footer-comment-icon{
  font-size: 14px;
}

.footer-comment-icon:hover{
  color: gray;
}

.see-all-comments{
  font-size: 14px;
  color: #97938f;
  cursor: pointer;
}

.post-time{
  font-size: 10px;
  color: #97938f;
}

.card-post .card-post-footer .divider{
  height: 1px;
  background-color: #EFEFEF;
  margin-bottom: 10px;
}

.send-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.send-comment-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 578px;
}

.icon-happy{
  font-size: 28px;
  cursor: pointer;
}

.input-comment{
  width: 450px;
  font-size: 14px;
  border: none;
}

.input-comment:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn{
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #B2DFFC;
  font-size: 14px;
}

.btn:hover{
  color: #0095F6;
  transition-delay: 300ms;
}

.mt6{
  margin-top: 6px;
}

.mt10{
  margin-top: 10px;
}

.mb{
  margin-bottom: 250px;
}


.aside{
  width: 300px;
  margin-top: 36px;
}

.aside-fixed{
  position: fixed;
  width: 300px;
}

.aside-header{
  height: 118px;
  display: flex;
  flex-direction: column;
}

.description{
  display: flex;
  justify-content: space-between;
}

.description .sugestions{
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #8E8E8E;
}

.description .see-all{
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  cursor: pointer;
}

.aside-header-content{
  height: 114px;
  width: 100%;
  display: flex;
  align-items: center;
}

.aside-header-profile img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
  cursor: pointer;
}

.aside-header-description .title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  cursor: pointer;
}

.aside-header-description .subtitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8E8E8E;
}

.aside-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-items{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.aside-content-profile img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 11px;
  cursor: pointer;
}

.aside-content-description .title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  margin-bottom: 5px;
  cursor: pointer;
}

.aside-content-description .title:hover{
  text-decoration: underline;
}

.aside-content-description .following{
  font-size: 12px;
  line-height: 14px;
  color: #8E8E8E;    
}

.follow{
  margin-top: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #139EF2;
  cursor: pointer;
}

.aside-footer{
  margin-top: 33px;
}

.aside-footer p{
  font-size: 11px;
  line-height: 13px;
  color: #C7C7C7;    
}

.aside-footer a{
  text-decoration: none;
  color: #C7C7C7;
}

.aside-footer p.mb18{
  margin-bottom: 18px;
}


@media(min-width: 936px){
  .navbar-content{
      width: 945px;
  }
}

@media(min-width: 615px){
  .navbar-content-mobile{
      display: none;
  }

  .bottom-mobile-navbar{
      display: none;
  }
}

@media(max-width: 935px){
  .aside{
      display: none;
  }

  .main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      width: 100%;
  }

  .navbar-content{
      width: 95%;
  }
}

@media(max-width: 614px){
  .navbar-content{
      display: none;
  }

  .navbar-content-mobile{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      border-bottom: 1px solid #DBDBDB;
  }

  .navbar-icons-mobile{
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      background-color: #FFFFFF;
  }

  .brand-mobile-icon{
      font-size: 22px;
  }

  .navbar-mobile-paper-plane{
      font-size: 22px;
  }

  .container{
      margin-top: 18px;
  }

  .stories{
      width: 100%;
      background-color: transparent;
      border: none;
      overflow: hidden;
      margin-bottom: 18px;
      margin-top: 36px;
  }

  .chevron-circle{
      display: none;
  }

  .posts{
      width: 100%;
  }

  .card-post{
      width: 100%;
      height: auto;
  }

  .card-post-header .card-post-header-row{
      width: 96%;
  }

  .bottom-mobile-navbar{
      height: 54px;
      background-color: #FFFFFF;
      border-top: 1px solid #DBDBDB;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
  }
  
  .bottom-mobile-navbar-content{
      height: 100%;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .card-post-footer{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .footer-content-icons{
      width: 97%;
  }

  .footer-content-coments{
      width: 97%;
  }

  .footer-comment-profile{
      width: 97%;
      margin-left: 5px;
  }

  .send-comment{
      width: 100%;
  }

  .send-comment-form{
      width: 97%;
  }

  .icon-happy{
      font-size: 30px;
      margin-right: 5px;
  }

  .mb{
      margin-bottom: 60px;
  }
}